.box{
    width: 600px;
    border: 0.5px solid;
    display: flex;
    flex-direction: column;
    place-content: center;
    border-radius: 2px;
}


.boxHead{
    display: flex;
    justify-content: center;
    margin: auto;
}