.heading{
    font-family: sans-serif;
    font-size: 60px;
}


@media screen and (max-width:500px) {
    .heading{
        font-size: 40px;
    }
}


.gradientText {
 background: linear-gradient(
    90deg,
    #f7d75c,        /* sunflower yellow */
    #ffffff,        /* white highlight */
    #f2a600         /* sunflower orange */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textStyle{
        font-size: 70px;
        position: relative;
    font-size: 140px;
    // color: rgba(248, 237, 222, 0.911);
    font-family: sans-serif;
    top: 0px;
    }

@media screen and (max-width:950px) {
    .textStyle{
        font-size: 70px;
        
    }
}

@media screen and (max-width:550px) {
    .textStyle{
        font-size: 50px;
        
    }
}

.bgColor{
    background-color: black;
}